{% extends "./adminlteBase.html" %}


{% block content %}


<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Center List</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Center List</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
            <!--begin::Col-->
            <div class="col-md-12">
                <!--begin::Form Validation-->
                <div class="card card-info card-outline mb-4">
                    <!--begin::Header-->
                    <div class="card-header">
                        <a href="{% url 'services:center_create'%}">
                            <button type="button" class="btn btn-success mb-2">Create Center</button>
                        </a>

                    </div>
                    <!--end::Header-->


                    <!--begin::List-->
                    <div class="card-body">
                        <table class="table table-bordered" role="table">
                            <thead>
                            <tr>
                                <th style="width: 10px" scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for center in centers %}
                            <tr class="align-middle">
                                <td>{{ forloop.counter }}.</td>
                                <td>{{ center.name }}</td>
                                <td>{{ center.address }}</td>
                                <td>{{ center.status }}</td>
                                <td>
                                    <!-- View -->
                                    <a href="{% url 'services:center_detail' center.id%}" class="btn btn-sm btn-info"
                                       title="View">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    <!-- Edit -->
                                    <a href="{% url 'services:center_update' center.id%}" class="btn btn-sm btn-primary mt-2"
                                       title="Edit">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <!-- Delete -->
                                    <a href="" class="btn btn-sm btn-danger mt-2 disabled"
                                       title="Delete" >
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No Center Found</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--end::List-->

                    <!--begin::Card Footer-->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-end">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </div>

                    <!--begin::Card Footer-->
                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (() => {
                          'use strict';

                          // Fetch all the forms we want to apply custom Bootstrap validation styles to
                          const forms = document.querySelectorAll('.needs-validation');

                          // Loop over them and prevent submission
                          Array.from(forms).forEach((form) => {
                            form.addEventListener(
                              'submit',
                              (event) => {
                                if (!form.checkValidity()) {
                                  event.preventDefault();
                                  event.stopPropagation();
                                }

                                form.classList.add('was-validated');
                              },
                              false,
                            );
                          });
                        })();
                    </script>
                    <!--end::JavaScript-->
                </div>
                <!--end::Form Validation-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->


{% endblock %}